{% extends 'base.html' %}
{% block content %}
<h1>Seoul n Sound</h1>

<h5>Name:</h5>
<p>{{ self_name }}<p>
<h5>Class: </h5>
<p>{{ pbp_class }}<p>

    {% if not shop_entries %}
    <p>Belum ada data shop pada SeoulnSound.</p>
    {% else %}
    <table>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Rating</th>
      </tr>
    
      {% comment %} Berikut cara memperlihatkan data shop di bawah baris ini 
      {% endcomment %} 
      {% for shop_entry in shop_entries %}
      <tr>
        <td>{{shop_entry.product_name}}</td>
        <td>{{shop_entry.price}}</td>
        <td>{{shop_entry.description}}</td>
        <td>{{shop_entry.rating}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'main:create_shop_entry' %}">
      <button>Add New Shop Entry</button>
    </a>

    <a href="{% url 'main:logout' %}">
      <button>Logout</button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
{% endblock content %}